<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Economic - Vegan World 2026!  </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/mdb.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

  <meta name="theme-color" content="#4285F4">

</head>

<body>

<header>
<nav class="navbar navbar-expand-lg  navbar-dark primary-color fixed-top scrolling-navbar">
  <a class="navbar-brand" href="index.html">
    <img src="img/logo.png" height="80" alt="vegan world 2026 logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/overview/">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/ecological/">Ecological</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/economic/">Economic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/political/">Political</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/social/">Social</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/spiritual/">Spiritual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/study_group/">Study Groups</a>
      </li>
      <li class="nav-item">
        <a href="/join_us/">
        <button class="btn-join-us btn btn-amber btn-sm waves-effect font-weight-bold" type="button">Join Us!</button>
      </a>
      </li>
    </ul>
  </div>
</nav>
</header>

<div class="container space">
  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid z-depth-3" src="img/Day+2+2.jpeg">
    </div>
    <div class="col-md-5">
      <h6 class="h6-responsive font-weight-bold mb-3">ECONOMIC PRINCIPLES:</h6>
        <ol>
          <li>Transaction Economy -> <a href="http://sacred-economics.com/"> Gift Economy</a></li>
          <li>Unfettered Growth -> <a href="http://www.newdevelopmentparadigm.bt/wp-content/uploads/2013/09/Manfred-Max-Neef_Contribution.pdf"> Development</a></li>
          <li>Debt Currency -><a href="http://www.climatehealers.org/carbon-yoga/76-the-ahimsacoin-economy"> Ecological Currency</a></li>
          <li>Fossil Fuels -><a href="Fossil Fuels -> Distributed Renewable Energy"> Distributed Renewable Energy</a></li>
          <li>AC Grid -><a href="https://spectrum.ieee.org/energy/renewables/innovative-direct-current-microgrids-to-solve-indias-power-woes"> DC Grid with Energy Storage</a></li>
          <li>Planned Obsolescence -><a href="https://www.vitamix.com/us/en_us/why-vitamix/durability"> Robust Durability</a></li>
          <li>Labor based on Compulsion -><a href="http://foodnotbombs.net/new_site/">abor based on Volunteerism</a>  </li>
          <li>Commodification of Life -><a href="https://www.sciencedirect.com/science/article/pii/S0921800916304542"> Decommodification</a></li>
          <li>Conspicuous Consumption -><a href="http://www.choosingvoluntarysimplicity.com/"> Conscious Simplicity</a></li>
          <li>Toxic Products and Processes -> <a href="http://thehumanexperimentmovie.com/switch-to-safer/"> Non-toxic Products and Processes</a></li>
          <li>Reactive Medicine -><a href="http://www.acpm.org/page/lifestylemedicine"> Preventive/Lifestyle Medicine</a></li>

        </ol>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-12 text-center">
       <h4 class="h4-responsive font-weight-bold mb-3">ECONOMIC SHIFT </h4>
       <img class="img-fluid z-depth-3" src="img/Economic+Shift+Questions.jpg">
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h6 class="h6-responsive font-weight-bold mb-3">ECONOMIC SHIFT QUESTIONS: </h6>
      <p>
        1. How do we replace capitalism with a more sustainable and equitable system? And what is that system? - <a href="study_group.html">Compassionate Commerce Study Group </a><br>
2.  How do we structure a healthcare system that incentivizes health creation, health promotion and positive health outcomes instead of just paying for expensive and ineffective drug and surgical interventions? <br>
3.  How do we change the current food subsidy system that artificially props up Animal Ag? Do we remove all subsidies and let the free market support healthy sustainable food, do we incentivize whole plant foods,  or is there a third alternative? - <a href="study_group.html">Ending Subsidies Study Group</a><br>
4. How will we provide jobs for those leaving slaughterhouses and other animal harming jobs? - <a href="study_group.html">Changing Jobs Study Group </a><br>
5. How do we give vegan business ideas a strong opportunity to flourish? <br>
6.  How do we navigate having a livable income with wanting to do vegan  activism full time AND wanting to provide nutrition education, food  demos and coaching to anyone at no charge … while knowing that many do  not VALUE what they have not invested money into? <br>
7. How do we transform the tremendous power currently being used to exploit by the system of industries and corporations that benefit by animal ag and its  ill effects on human health (animal ag, processed food, pharmaceuticals,  medicine, weight loss, etc.)? <br>
8. How to build resource based communities, end capitalism and money? <br>
9. How do we change from an ownership model to a stewardship model? <br>
10. How do we structure, implement and advocate for a carbon tax on food?<br>
11. How do we keep the most powerful from over taking us? <br>
12.  How can we put all vegan businesses in under one roof which will  encourage them to start more and consumers as well to find products in  one place? <br>
13. How do we stop economic growth? If so, how do we link veganism with anti-growth movements?<br>
14. How do we get money out of politics?<br>
15. How do we employ all vegans to make Vegan World 2026?<br>
16.  How do we get individuals to become more self-reliant and develop their  own relationship with the Earth and growing food and taking care of the  natural world? How do we stop being so dependent on corporations and  government, etc., to do everything for us? <br>
17. How are we going to save all the farm animals when animal ag starts collapsing? <br>
18. How to show/create a plan to grow the green economy? <br>
19. How do we address dairy farmers who are in a co-op get into a more sustainable drink product?<br>
20. How do we make vegan companies more profitable? <br>
21. How do we express the importance of voting in the current political system? <br>
22. How do we stop the BACONIZATION of food in restaurants, etc.? <br>
23.  Is our energy better spent trying to change the current system from  within, or creating a new system that people can jump to as the current one collapses?<br>


      </p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-12 text-center">
       <h4 class="h4-responsive font-weight-bold mb-3">ECONOMIC NEW MODEL  </h4>
       <img class="img-fluid z-depth-3" src="img/Economic+New+Model.jpg">
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h6 class="h6-responsive font-weight-bold mb-3">ECONOMIC NEW MODEL QUESTIONS: </h6>
      <p>
        1. What do businesses and current corporations look like in the new system and do they continue to exist? What incentives do people and businesses have to join the new system? How do we convince people to give up their power and wealth? - <a href="study_group.html">New Economy Study Group</a><br>
2. How do we enable a distributed land trusteeship system? <br>
3. How do we develop a world so no one is living in poverty and are equal? <br>
4. How do we end income inequality? <br>
5. What new economic metrics do we use to measure ecological disparity/prosperity? <br>
6. How do we decide the worth of people’s work? <br>
7. How do we team up with chef schools, restaurant associations and former cooperatives to create a new paradigm? <br>
8. How do we over grow the government and create abundance for ALL LIFE? <br>
9. Should we establish a basic income for all citizens? <br>
10. How do we create a love based currency that never deflates? <br>
11. How can we value emotional, mental and spiritual health? <br>
12. Are there limits to economic growth in a Vegan World? If so, what are they? <br>
13. How can we support activists financially? <br>
14. How do we make sure everyone has enough? <br>
15. How do we team up with local restaurants and transition to an entirely Vegan menu? <br>
16. How can everyone have a safe, sound and sanitary home? <br>
17. Is it time to invest in a new monetary system? <br>
18. How can we effectively educate on the true cost of animal agriculture? <br>
19. How do we create community programs that use local resources, providing excess to surrounding states and reduce carbon footprints? <br>
20. How do we share intellectual property across the globe? <br>
21. How do we all use the new money system? <br>
22. How do we establish fair pricing for animal products? <br>
      </p>
    </div>
  </div>
</div>








<section class="container-fluid unique-color-dark py-5">
  <div class="row">
    <div class="col-md-12 text-center mt-3 text-white">
      <h3 class="h3-responsive"><i class="fas fa-quote-left" aria-hidden="true"></i> Nothing is as powerful as an idea whose time has come <i class="fas fa-quote-right"
            aria-hidden="true"></i></h3>
      <h5 class="text-center font-italic mb-0">~ Victor Hugo</h5>
  </div>
</section>




<!-- Footer -->
<footer class="page-footer font-small primary-color">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4 offset-md-4 pt-5">
            <div class="row text-center">
              <div class="col-md-12"> 
                <a class="mr-5" href="https://www.facebook.com/groups/445002692519792">
                  <i class="fab fa-facebook-f fa-lg white-text fa-2x"> </i>
                </a>
                <a class="mr-5" href="https://twitter.com/PreventYear">
                  <i class="fab fa-twitter fa-lg white-text fa-2x"> </i>
                </a>
                <a href="http://instagram.com/veganworld2026">
                  <i class="fab fa-instagram fa-lg white-text fa-2x"> </i>
                </a>
              </div>
              </div>
        </div>

    </div>
    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 offset-md-3 py-5">
        <div class="text-center">


         <div class="row text-center">
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="about.html">About</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="support.html">Support</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="privacy.html">Privacy</a>
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright py-3 text-center text-white">Made with <i class="fa fa-2x fa-heart"></i> in India</div>
  <div class="footer-copyright text-center pb-3">Designed By
    <a href="https://rohitswami.com/"> Rohit Swami</a>
  </div>

  <!-- Copyright -->

</footer>
<!-- Footer -->



  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>
