<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Overview - Vegan World 2026!  </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/mdb.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

  <meta name="theme-color" content="#4285F4">

</head>

<body>

<header>
<nav class="navbar navbar-expand-lg  navbar-dark primary-color fixed-top scrolling-navbar">
  <a class="navbar-brand" href="index.html">
    <img src="img/logo.png" height="80" alt="vegan world 2026 logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/overview/">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/ecological/">Ecological</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/economic/">Economic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/political/">Political</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/social/">Social</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/spiritual/">Spiritual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/study_group/">Study Groups</a>
      </li>
      <li class="nav-item">
        <a href="/join_us/">
        <button class="btn-join-us btn btn-amber btn-sm waves-effect font-weight-bold" type="button">Join Us!</button>
      </a>
      </li>
    </ul>
  </div>
</nav>
</header>


<div class="container space mb-5">
   <div class="row  text-center mb-3">
    <div class="col-md-8 offset-md-2">
      <h5 class="h5-responsive font-weight-bold text-center mb-3">VEGAN WORLD 2026 - THE MOONSHOT OF OUR GENERATION!</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-21by9 z-depth-3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ouRbkBAOGEw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6 mt-3">
      <p>President Kennedy delivered this speech in 1962 and challenged that we land a man on the moon by the end of that decade, in 8 years. Our scientists responded to this challenge and the moon landing happened in 1969, 7 years after the speech was delivered. <br>

      Likewise, we are determined to realize a Vegan World by 2026, 8 years from when we launched this campaign in 2018. How soon will we accomplish our objective? It depends on you - please join us and let’s make it happen!</p>
    </div>
  </div>
</div>

<div class="container my-5">
   <div class="row  text-center mb-3">
    <div class="col-md-8 offset-md-2">
      <h5 class="h5-responsive font-weight-bold text-center mb-3">KIMAYA AND PJ WISHING FOR A VEGAN WORLD BY 2026!</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p> What would a <b>Vegan World</b>, implementing the vision of  an eco-centric, life-enriching culture of normalized nonviolence, be like? As Vegans, if we are opposed to oppressing animals of any kind, then surely we would be opposed to oppressing people of any kind either.<br>Therefore, in such a Vegan World, there would be neither child labor for conflict minerals and cocoa production nor slave labor for tomato picking and strawberry picking.</p>
    </div>
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-21by9 z-depth-3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/J-vUEjOwF18" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <p>Many questions arise as a consequence of this observation:</p>
      <ol>
        <li>How would we organize such a human society so that we have a functioning economy that caters to the needs of the people even as it  nurtures all life on Earth?</li>
        <li>How would we create fulfilling, meaningful, purposeful lives for ourselves?</li>
        <li>How would we collectively fulfill our role as the <a href="https://www.youtube.com/watch?v=Zzfq2AAYn38">"Thermostat Species”</a>?</li>
        <li>How would we manage the huge stockpiles of nuclear, chemical and other  weapons of mass destruction that we accumulated during the Caterpillar phase?</li>
        <li>How would we rid the Earth of all the plastic and the toxic chemicals that we polluted it with during the Caterpillar phase?</li>
      </ol>
      <p><b>Questions,  questions, questions.</b> How would we resolve these questions? Besides, each question generates deeper questions, doesn't it?</p>
      <p>Indeed, it is clear that a Vegan World  of the imaginal cells would be nothing like the Caterpillar's world that we inhabit today. Listed below is a set of characteristics that we can expect to shift as we evolve. However, please note that these are not meant to be all or nothing transitions. For instance, the current  economy is not entirely transaction-based as the work that a mother does for her child is part of an informal gift economy even today. Likewise, a Vegan world is not going to be entirely a gift economy either, but we can expect the gift economy to be more prominent than the transaction  economy.
      </p>
      <p>
        Given that caveat, here are some of the transitions we  envision. If you would like to add or amend this list, please feel free to <a href="mailto:srao@climatehealers.org">contact us</a>.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h6 class="h6-responsive font-weight-bold mb-3">ECOLOGICAL PRINCIPLES:</h6>
        <ol>
          <li>Monocultures -> <a href="https://www.agroforestry.org/projects/food-producing-landscapes">Biodiversity (Food Forests)</a></li>
          <li>Climate Destruction -> <a href="http://www.climatehealers.org/">Climate Healing</a></li>
          <li>Ecological Overshoot -> <a href="http://ageofthrivability.com/"> Ecological Thrivability</a></li>
          <li>Artificial Scarcity -> <a href="https://charleseisenstein.net/essays/a-beautiful-world-of-abundance/"> Natural Abundance</a></li>
          <li>Death-dealing -> <a href="http://www.togetherincreation.org/che"> Life-enriching</a></li>
        </ol>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h6 class="h6-responsive font-weight-bold mb-3">ECONOMIC PRINCIPLES:</h6>
        <ol>
          <li>Transaction Economy -> <a href="http://sacred-economics.com/"> Gift Economy</a></li>
          <li>Unfettered Growth -> <a href="http://www.newdevelopmentparadigm.bt/wp-content/uploads/2013/09/Manfred-Max-Neef_Contribution.pdf"> Development</a></li>
          <li>Debt Currency -><a href="http://www.climatehealers.org/carbon-yoga/76-the-ahimsacoin-economy"> Ecological Currency</a></li>
          <li>Fossil Fuels -><a href="Fossil Fuels -> Distributed Renewable Energy"> Distributed Renewable Energy</a></li>
          <li>AC Grid -><a href="https://spectrum.ieee.org/energy/renewables/innovative-direct-current-microgrids-to-solve-indias-power-woes"> DC Grid with Energy Storage</a></li>
          <li>Planned Obsolescence -><a href="https://www.vitamix.com/us/en_us/why-vitamix/durability"> Robust Durability</a></li>
          <li>Labor based on Compulsion -><a href="http://foodnotbombs.net/new_site/">abor based on Volunteerism</a>  </li>
          <li>Commodification of Life -><a href="https://www.sciencedirect.com/science/article/pii/S0921800916304542"> Decommodification</a></li>
          <li>Conspicuous Consumption -><a href="http://www.choosingvoluntarysimplicity.com/"> Conscious Simplicity</a></li>
          <li>Toxic Products and Processes -> <a href="http://thehumanexperimentmovie.com/switch-to-safer/"> Non-toxic Products and Processes</a></li>
          <li>Reactive Medicine -><a href="http://www.acpm.org/page/lifestylemedicine"> Preventive/Lifestyle Medicine</a></li>

        </ol>
      </div>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h6 class="h6-responsive font-weight-bold mb-3">POLITICAL PRINCIPLES:</h6>
        <ol>
          <li>Governance for Economic Growth -><a href="http://www.togetherincreation.org/eco-governance-1"> Governance for Ecological Thrivability</a></li>
          <li>Concentration of Power -><a href="https://whorulesamerica.ucsc.edu/power/wealth.html"> Distribution of Power</a></li>
          <li>Representative Democracy -><a href="https://ssir.org/articles/entry/the_moment_for_participatory_democracy"> Participatory Democracy</a></li>
        </ol>
      </div>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h6 class="h6-responsive font-weight-bold mb-3">SOCIAL PRINCIPLES:</h6>
        <ol>
          <li>Carnism and Speciesism -><a href="http://www.vegan.org/"> Veganism</a></li>
          <li>Colonialism -><a href="https://decolonization.org/index.php/des"> Decolonization </a></li>
          <li>Sexism and Heterosexism -><a href="https://www.theguardian.com/commentisfree/2018/may/12/sex-capitalism-incel-movement-misogyny-feminism"> Gender Equality and Justice</a></li>
          <li>Racism -><a href="http://www.congressofracialequality.org/"> Racial Equality</a></li>
          <li>Rising Inequity -><a href="http://initiativeforequality.org/"> Radical Equality</a></li>
          <li>Individualistic -><a href="https://www.jstor.org/stable/20159204"> Community Oriented</a></li>
          <li>Competition -><a href="http://cir.institute/"> Collaboration</a></li>
          <li>Hierarchical -><a href="https://us.sagepub.com/en-us/nam/encyclopedia-of-group-processes-and-intergroup-relations/book229388"> Cooperative and Consensual</a></li>
          <li>Secrecy and Lies -><a href="https://sustainingcommunity.wordpress.com/2011/05/12/there-is-a-commitment-to-truth-and-openness-principles-of-nonviolence-8/"> Openness and Truth</a></li>
          <li>Endless War -><a href="http://www.worldpeacediet.com/"> Durable Peace</a></li>
          <li>Selfishness and Greed -><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5429736/"> Selflessness and Contentment</a></li>
          <li>Exclusivity -><a href="https://www.generaldempsey.com/radical-inclusion"> Radical Inclusion</a></li>
          <li>Domination/Control relating -><a href="http://rianeeisler.com/partnership-101/"> Partnership/Respect relating</a></li>
          <li> Individual Transparency / Institutional Privacy -><a href="https://privacyinternational.org/blog/1111/two-sides-same-coin-right-privacy-and-freedom-expression"> Individual Privacy </a>/<a href="https://opensource.org/"> Institutional Transparency</a></li>
          <li>Normalized Violence -><a href="https://www.context.org/iclib/ic04/gilman2/"> Normalized Nonviolence </a></li>
          <li>Education for Literacy -><a href="https://www.ted.com/talks/ken_robinson_says_schools_kill_creativity"> Education for Creativity</a></li>
        </ol>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h6 class="h6-responsive font-weight-bold mb-3">SPIRITUAL PRINCIPLES:</h6>
        <ol>
          <li>Animal Slavery -><a href="https://www.motherjones.com/food/2017/11/inside-the-bold-new-animal-liberation-movement-no-masks-no-regrets-all-the-risk/"> Animal Liberation</a></li>
          <li>Deliberate Cruelty -><a href="http://thecompassionprojectfilm.com/"> Compassion for all Life</a></li>
          <li>Religious Divisions -><a href="https://unity.earth/"> Acceptance of all faiths and non-belief traditions</a></li>
          <li>Ego-centric -><a href="http://www.togetherincreation.org/eco-governance-1"> Eco-centric</a></li>
          <li>Fear of Death -><a href="http://www.climatehealers.org/carbon-dharma-the-occupation-of-butterflies/7-the-butterfly-culture"> Love of Life</a></li>
        </ol>
      </div>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-md-12">
        <p>Since  the environmental situation on Earth calls for our transition to a<a href="http://preventyearzero.org/"> Vegan World by 2026</a>, we should be  putting our heads together to ponder these questions ASAP! In collaboration with<a href="http://asu.edu/"> Arizona State University</a>,<a href="http://www.climatehealers.org/"> Climate Healers</a> organized the <a href="http://www.climatehealers.org/vegan-world-2026-conference"><b> Vegan World 2026! Conference</b></a>,  not to answer these questions, but to develop strategic plans for accelerating these transitions and to brainstorm deeper questions as we examine these transitions in greater detail so that we can ruminate over and brainstorm again and again. Here is the web page of the<a href="study_group.html"> VW2026 Process</a> study group that is working on the standardization process.</p>
      </div>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <h5 class="h5-responsive font-weight-bold text-center mb-3">HOW THE METAMORPHOSIS WILL OCCUR</h5>
      <div class="embed-responsive embed-responsive-16by9 z-depth-3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Xz9IJMMWP4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    <div class="col-md-6">
      <h5 class="h5-responsive font-weight-bold text-center mb-3">SOME BACKGROUND</h5>
        <img class="img-fluid z-depth-3" src="img/Slide30.jpg">
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Historically, every momentous transformation in human civilization has been accompanied by revolutionary changes in three aspects of human lives, </p>
      <ol>
        <li>In the way we harness energy;</li>
        <li>In the way we communicate with each other; and</li>
        <li>In the foods we eat. </li>
      </ol>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>About 200,000 years ago, we </p>
      <ol>
        <li>Discovered the controlled use of fire;</li>
        <li>Developed spoken language to communicate with each other; and</li>
        <li>Began eating meat from hunted animals because our controlled use of fire allowed us to cook that meat and made it digestible.</li>
      </ol>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Thus  began the dominance of patriarchy as the male hunters assumed more importance than the female gatherers in human societies. The gatherers no longer had to forage over large distances to gather the nutrition needed for human sustenance since the hunters could provide concentrated nutrition in the form of animal flesh. Simultaneously, this strengthened speciesist attitudes within human societies, as animals became objects to be killed for human consumption. Thus sexism and speciesism form the core oppression from which all other forms of oppression sprung over time. Hierarchy developed within the patriarchy. The victims of sexist oppression, the women, were partly assuaged when they could oppress other species and feel superior to them.  </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>About 10,000 years ago, during the agricultural revolution, we </p>
      <ol>
        <li>Harnessed the energy of animals such as cows, buffaloes and horses to plow our fields;</li>
        <li>Developed writing in order to communicate with each other; and</li>
        <li>Grew crops of our own liking instead of relying on what Nature provided in the wild.</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Instead of humans belonging to Nature, we began acting as if Nature belonged to  humans. Not only did we enslave work animals to do our bidding, we enslaved the Earth to produce what we desired. In the resulting agricultural revolution, cities were born where the ruling classes did not do the actual work of raising crops but were fed very well. The social hierarchies developed more layers, resulting in other forms of oppression such as slavery, classism and casteism.  </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>About 200 years ago, we</p>
      <ol>
        <li>Began to harness fossil fuels for energy;</li>
        <li>Developed the printing press for communication, to disseminate  information far more efficiently than with just hand written documents; and</li>
        <li>Repurposed our domesticated work animals to be raised as just food animals.</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>We  developed machines to plow the fields and didn't need the work animals anymore for that purpose, but we continued to enslave them anyway just to milk them and eat them. We developed further layers of  hierarchy in our social structures to expand the scope of our human enterprise until it bestrode the whole globe, conquering and colonizing any indigenous civilizations that came in our way. The fossil fuels were to be found in specific locations on Earth and we had to create refining, processing and distribution systems for them. The food animals were most efficiently raised in giant factories as if they were widgets, and then processed into meat packages, refrigerated and distributed to the consumers up and down the social hierarchies. A dominant financial sector arose that siphoned off increasingly larger shares of the wealth, simply as a commission for allocating capital efficiently. Oppression such as colonialism and racism became much more prominent. </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Today, we are poised to undergo yet another transformation, the greatest of them all! This time:</p>
      <ol>
        <li>We are harnessing solar energy directly and rather than being concentrated in a few locations, it is actually falling on our heads almost everywhere. Using battery storage and DC Grid technology, we can eliminate conversion losses and stop relying on large-scale energy  producers and make our energy infrastructure truly distributed.</li>
        <li>We are using the Internet to communicate with each other and it has put the entire accumulated knowledge of all humanity at each and every finger tip. By using peer-to-peer networking<a href="http://holochain.org/"> Holochain</a> technology, we can free ourselves from the centralized, dominant players such as Google and Facebook, who are currently controlling which part of the accumulated knowledge of humanity each individual gets to see.</li>
        <li>We are transitioning out of animal-based foods to plant-based Vegan foods, which can mostly be grown in local, organic farms without having to rely on the chemical industry or large animal husbandry operations with  giant processing, refrigeration and distribution systems that are currently spread out over half the globe.</li>
      </ol>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-12">
      <p>Unlike the previous three major transformations that increasingly concentrated power in the hands of a few and strengthened the social hierarchy, what is occurring today is an entirely radical kind of transformation since all three of these changes devolve power to the local level, where it becomes easier to implement cooperative and consensual decision-making processes. </p>
    </div>
  </div>
</div>



<section class="container-fluid unique-color-dark py-5">
  <div class="row">
    <div class="col-md-12 text-center mt-3 text-white">
      <h3 class="h3-responsive"><i class="fas fa-quote-left" aria-hidden="true"></i> Nothing is as powerful as an idea whose time has come <i class="fas fa-quote-right"
            aria-hidden="true"></i></h3>
      <h5 class="text-center font-italic mb-0">~ Victor Hugo</h5>
  </div>
</section>



<!-- Footer -->
<footer class="page-footer font-small primary-color">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4 offset-md-4 pt-5">
            <div class="row text-center">
              <div class="col-md-12"> 
                <a class="mr-5" href="https://www.facebook.com/groups/445002692519792">
                  <i class="fab fa-facebook-f fa-lg white-text fa-2x"> </i>
                </a>
                <a class="mr-5" href="https://twitter.com/PreventYear">
                  <i class="fab fa-twitter fa-lg white-text fa-2x"> </i>
                </a>
                <a href="http://instagram.com/veganworld2026">
                  <i class="fab fa-instagram fa-lg white-text fa-2x"> </i>
                </a>
              </div>
              </div>
        </div>

    </div>
    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 offset-md-3 py-5">
        <div class="text-center">


         <div class="row text-center">
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="about.html">About</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="support.html">Support</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="privacy.html">Privacy</a>
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright py-3 text-center text-white">Made with <i class="fa fa-2x fa-heart"></i> in India</div>
  <div class="footer-copyright text-center pb-3">Designed By
    <a href="https://rohitswami.com/"> Rohit Swami</a>
  </div>

  <!-- Copyright -->

</footer>
<!-- Footer -->



  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>
