<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Social - Vegan World 2026!  </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/mdb.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <meta name="theme-color" content="#4285F4">

</head>

<body>

<header>
<nav class="navbar navbar-expand-lg  navbar-dark primary-color fixed-top scrolling-navbar">
  <a class="navbar-brand" href="index.html">
    <img src="img/logo.png" height="80" alt="vegan world 2026 logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/overview/">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/ecological/">Ecological</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/economic/">Economic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/political/">Political</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/social/">Social</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/spiritual/">Spiritual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/study_group/">Study Groups</a>
      </li>
      <li class="nav-item">
        <a href="/join_us/">
        <button class="btn-join-us btn btn-amber btn-sm waves-effect font-weight-bold" type="button">Join Us!</button>
      </a>
      </li>
    </ul>
  </div>
</nav>
</header>

<div class="container space">
  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid z-depth-3" src="img/Day+2+3.jpeg">
    </div>
    <div class="col-md-5">
      <h6 class="h6-responsive font-weight-bold mb-3">SOCIAL PRINCIPLES:</h6>
        <ol>
          <li>Carnism and Speciesism -><a href="http://www.vegan.org/"> Veganism</a></li>
          <li>Colonialism -><a href="https://decolonization.org/index.php/des"> Decolonization </a></li>
          <li>Sexism and Heterosexism -><a href="https://www.theguardian.com/commentisfree/2018/may/12/sex-capitalism-incel-movement-misogyny-feminism"> Gender Equality and Justice</a></li>
          <li>Racism -><a href="http://www.congressofracialequality.org/"> Racial Equality</a></li>
          <li>Rising Inequity -><a href="http://initiativeforequality.org/"> Radical Equality</a></li>
          <li>Individualistic -><a href="https://www.jstor.org/stable/20159204"> Community Oriented</a></li>
          <li>Competition -><a href="http://cir.institute/"> Collaboration</a></li>
          <li>Hierarchical -><a href="https://us.sagepub.com/en-us/nam/encyclopedia-of-group-processes-and-intergroup-relations/book229388"> Cooperative and Consensual</a></li>
          <li>Secrecy and Lies -><a href="https://sustainingcommunity.wordpress.com/2011/05/12/there-is-a-commitment-to-truth-and-openness-principles-of-nonviolence-8/"> Openness and Truth</a></li>
          <li>Endless War -><a href="http://www.worldpeacediet.com/"> Durable Peace</a></li>
          <li>Selfishness and Greed -><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5429736/"> Selflessness and Contentment</a></li>
          <li>Exclusivity -><a href="https://www.generaldempsey.com/radical-inclusion"> Radical Inclusion</a></li>
          <li>Domination/Control relating -><a href="http://rianeeisler.com/partnership-101/"> Partnership/Respect relating</a></li>
          <li> Individual Transparency / Institutional Privacy -><a href="https://privacyinternational.org/blog/1111/two-sides-same-coin-right-privacy-and-freedom-expression"> Individual Privacy </a>/<a href="https://opensource.org/"> Institutional Transparency</a></li>
          <li>Normalized Violence -><a href="https://www.context.org/iclib/ic04/gilman2/"> Normalized Nonviolence </a></li>
          <li>Education for Literacy -><a href="https://www.ted.com/talks/ken_robinson_says_schools_kill_creativity"> Education for Creativity</a></li>
        </ol>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-12 text-center">
       <h4 class="h4-responsive font-weight-bold mb-3">SOCIAL SHIFT </h4>
       <img class="img-fluid z-depth-3" src="img/Social+Shift+Questions+1.jpg">
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h6 class="h6-responsive font-weight-bold mb-3">SOCIAL SHIFT QUESTIONS: </h6>
      <p>
        1. How do we end toxic masculinity and its association with “meat”? - <a href="study_group.html">Gender Roles Study Group</a><br>
2. How do we create laws/legislation for sentient beings? <br>
3. How can we unify Vegans and end infighting? - <a href="study_group.html">Unifying Vegans Study Group</a><br>
4. How do we build solidarity among the Vegan community as well as with other social justice groups? <br>
5. How do we get communities, especially the under-privileged, to see the benefits of a plant-based lifestyle, especially the price of health, lifestyle ailments, disability, sick children and other expenses and financial problems? <br>
6. How do we reach women? <br>
7. How can we build our prototype vegan communities - start them in various locations and use/promote them as the model?<br>
8. Should we support small animal welfare reforms or only a movement for immediate abolition of animal exploitation?<br> 
9. How can we create a safe platform for children who want to choose this lifestyle, yet or opposed by the system or parents? <br>
10. How are we going to be the voice that will effect social, political and fundamental change in our world system of violence? <br>
11. How do we transform from the current Animal Whites movement to the all-inclusive Animal Rights movement and abolish systematic racism? <br>
12. How do we reach women who live within oppressive religious systems? <br>
13. How do we follow up with those persons who are still consuming animal products after they have attended a vigil/bearing witness and making the connection? <br>
14. How can we get more Vegans to be activists? <br>
15. How can we create a huge cross-movement movement that is inclusive of reducitarians, vegetarians, environmentalists, animal rights activists, whole-food plant-based people and others, so that we have critical mass?<br> 
16. How can we get more people to focus on animal liberation instead of just animal welfarism? <br>
17. How do we create inclusiveness and let go of separation? <br>
18. How do we get other/all social activists to see the connections to the exploitation of animals?<br>
19. How do we move it forward as a political movement, inclusive of Vegetarians also? <br>
20. How do we promote social responsibility? <br>
21. How can we become more loving Vegans and learn to respect those who are not yet Vegan? <br>
22. How can we get beyond people’s conditioning and programs of reality and help them seek more knowledge and consciousness that will change their perceptions and choices? <br>
23. How do we diminish fears of prejudice in pre-vegans without compromising our fundamental message of respecting the rights of other animals? <br>
24. How do we help the world’s hungry go Vegan? <br>
25. How can we be culturally sensitive while traveling? <br>
26. How do we educate people effectively about PROTEIN so they won’t worry about deficiency? <br>
27. How will Ahimsa Coin allocate to the disabled, etc.? <br>
28. How do we convey Veganism is more than a personal choice - it’s a moral choice? <br>
29. What can we do to create collaboration and coalitions among vegan groups that stand as a strong force that is acknowledged and a powerful presence? <br>
30. How do we build a resource-based economy? <br>
31. How do we get people to align their ethics and values with their actions?<br>
32. How do we create/build empathy? <br>
33. How do we respond to pushback? <br>
34. How do we help aspiring Vegans to not feel excluded/misunderstood by their families? <br>
35. How do we infiltrate anti-Vegan propaganda? <br>
36. How do we get the attention of the masses? <br>
37. How do we promote Veganism through the cooperatives movement? <br>
38. How do we develop an effective VECOTourism system? <br>
39. How do we define “Vegan to other “vegans” to establish unity within the communities of activists and non-activists? <br>
40. How do we get new Vegans from relapsing? <br>
41. How do we get politicians whose platform is Veganism? <br>
42. How do we reach young children effectively and raise awareness without sugarcoating the realities? <br>
43. Democracy, anyone? Why can’t national/international/local Vegan groups accommodate this social form? <br>
44. How do we end unconscious consumerism? <br>
45. How do we change habits? <br>
46. How do we let go of acquiring property? <br>
47. What is the appropriate response to those who see nothing wrong with killing/exploiting animals? <br>
48. How do we make different Vegan groups support each other? <br>
49. How do we set boundaries and rules on allowing animal products in your home from guests? <br>
50. How can we get more Vegans to become animal rights activists? <br>
51. How can we unite all social movements to embrace Veganism? <br>
52. What program management method or framework do we use to develop, monitor and control our plan for Vegan World 2026? Agile, PMI, Lean? <br>
53. How do we best identify and utilize fellow vegans (and non-Vegans) talents in our revolution? <br>


      </p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-12 text-center">
       <h4 class="h4-responsive font-weight-bold mb-3">SOCIAL NEW MODEL  </h4>
       <img class="img-fluid z-depth-3" src="img/Social+New+Model.jpg">
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h6 class="h6-responsive font-weight-bold mb-3">SOCIAL NEW MODEL QUESTIONS: </h6>
      <p>
        1. How do we create a system in which everyone is thriving? - <a href="study_group.html">Thriving Systems Study Group</a><br>
2. How do we create an environment of racial equality and mutual respect? <br>
3. Do we have prisons in a Vegan World or have they been transformed? <br>
4. How do we get people to become more self-reliant and do more for themselves in terms of establishing personal and communal food systems, cutting out corporate/government middle men, and establishing their own relationship with the Earth? <br>
5. How do we transition to a culture of normalized nonviolence? <br>
6. How do we deal with animals eating crops and gardens? <br>
7. How do we relate with those who are violent (mental health issues)? <br>
8. How do we create equality so that there is no dominant race? <br>
9. How do we transform billions of acres into food forests, rewilded lands, Veganic agriculture and sanctuaries of all kinds? <br>
10. How do we transform the Vegan community to EcoVegans caring for the environment as well as the animals? <br>
11. How do we create communities of racial, ethical, religious acceptance and belonging? <br>
12. How do we get everyone to be treated equally? <br>
13. How do we avoid recreating discrimination and classism, this time based on how Vegan someone is? <br>
14. How can we sustain a supportive Vegan community without internal conflict? <br>
15. How do we get people to work as a team and take on equitable work? <br>
16. How do we create self-organizing teams who follow through on their commitments? <br>
17. How do we handle a situation with an animal being violent toward humans? <br>
18. How do we instill self-esteem in our young to counter years of programming of violence? <br>
19. How do we get animal rights activists to become holistic vegans for health, environment, ethics, mindfulness, zero waste, etc.? <br>
20. How do we end the male machismo and make it socially acceptable for men to be compassionate and nonviolent? <br>
21. What are we going to do to get all the millions of meat restaurant owners to become Vegan? <br>
22. How do we all live apart from the current normalized violent society? <br>
23. How do we establish social and economic equality? How much equality? <br>
24. How do we clean up the landfills and toxicity? <br>
25. How do we help people and animals to heal from the trauma of the past? <br>
26. How do we redesign our education, healthcare and other key systems? <br>
      </p>
    </div>
  </div>
</div>








<section class="container-fluid unique-color-dark py-5">
  <div class="row">
    <div class="col-md-12 text-center mt-3 text-white">
      <h3 class="h3-responsive"><i class="fas fa-quote-left" aria-hidden="true"></i> Nothing is as powerful as an idea whose time has come <i class="fas fa-quote-right"
            aria-hidden="true"></i></h3>
      <h5 class="text-center font-italic mb-0">~ Victor Hugo</h5>
  </div>
</section>




<!-- Footer -->
<footer class="page-footer font-small primary-color">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4 offset-md-4 pt-5">
            <div class="row text-center">
              <div class="col-md-12"> 
                <a class="mr-5" href="https://www.facebook.com/groups/445002692519792">
                  <i class="fab fa-facebook-f fa-lg white-text fa-2x"> </i>
                </a>
                <a class="mr-5" href="https://twitter.com/PreventYear">
                  <i class="fab fa-twitter fa-lg white-text fa-2x"> </i>
                </a>
                <a href="http://instagram.com/veganworld2026">
                  <i class="fab fa-instagram fa-lg white-text fa-2x"> </i>
                </a>
              </div>
              </div>
        </div>

    </div>
    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 offset-md-3 py-5">
        <div class="text-center">


         <div class="row text-center">
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="about.html">About</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="support.html">Support</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="privacy.html">Privacy</a>
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright py-3 text-center text-white">Made with <i class="fa fa-2x fa-heart"></i> in India</div>
  <div class="footer-copyright text-center pb-3">Designed By
    <a href="https://rohitswami.com/"> Rohit Swami</a>
  </div>

  <!-- Copyright -->

</footer>
<!-- Footer -->



  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>
