<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Study Groups - Vegan World 2016!  </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/mdb.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

  <meta name="theme-color" content="#4285F4">
  <style type="text/css">
    @media (max-width: 991px) {
      .tab-content {
  margin-top: 30px;
  margin-bottom: 30px;
}
    }
  </style>

</head>

<body>

<header>
<nav class="navbar navbar-expand-lg  navbar-dark primary-color fixed-top scrolling-navbar">
  <a class="navbar-brand" href="index.html">
    <img src="{{url_for('static',filename='img/logo.png')}}" height="80" alt="vegan world 2026 logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/overview/">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/ecological/">Ecological</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/economic/">Economic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/political/">Political</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/social/">Social</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/spiritual/">Spiritual</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="/study_group/">Study Groups</a>
      </li>
      <li class="nav-item">
        <a href="/join_us/">
        <button class="btn-join-us btn btn-amber btn-sm waves-effect font-weight-bold" type="button">Join Us!</button>
      </a>
      </li>
    </ul>
  </div>
</nav>
</header>


<div class="container space mb-5">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <h5 class="h5-responsive font-weight-bold text-center mb-3">STUDY GROUPS</h5>
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="process-list" data-toggle="list" href="#process"
          role="tab" aria-controls="home">VW2026 PROCESS</a>
        <a class="list-group-item list-group-item-action" id="veganic-list" data-toggle="list" href="#veganic"
          role="tab" aria-controls="profile">VEGANIC PERMACULTURE</a>
        <a class="list-group-item list-group-item-action" id="thriving-list" data-toggle="list" href="#thriving"
          role="tab" aria-controls="messages">THRIVING SYSTEM</a>
        <a class="list-group-item list-group-item-action" id="economy-list" data-toggle="list" href="#economy"
          role="tab" aria-controls="settings">NEW ECONOMY</a>
        <a class="list-group-item list-group-item-action" id="nature-list" data-toggle="list" href="#nature"
          role="tab" aria-controls="settings">NATURE STEWARDSHIP</a>
        <a class="list-group-item list-group-item-action" id="unifying-list" data-toggle="list" href="#unifying"
          role="tab" aria-controls="settings">UNIFYING VEGANS</a>
        <a class="list-group-item list-group-item-action" id="land-list" data-toggle="list" href="#land"
          role="tab" aria-controls="settings">LAND REHABILITATION</a>
        <a class="list-group-item list-group-item-action" id="religious-list" data-toggle="list" href="#religious"
          role="tab" aria-controls="settings">RELIGIOUS TRADITIONS</a>
        <a class="list-group-item list-group-item-action" id="gender-list" data-toggle="list" href="#gender"
          role="tab" aria-controls="settings">GENDER ROLES</a>
        <a class="list-group-item list-group-item-action" id="compassionate-list" data-toggle="list" href="#compassionate"
          role="tab" aria-controls="settings">COMPASSIONATE COMMERCE</a>
          <a class="list-group-item list-group-item-action" id="ending-list" data-toggle="list" href="#ending"
          role="tab" aria-controls="settings">ENDING SUBSIDIES</a>
        <a class="list-group-item list-group-item-action" id="jobs-list" data-toggle="list" href="#jobs"
          role="tab" aria-controls="settings">CHANGING JOBS</a>
        <a class="list-group-item list-group-item-action" id="speciesism-list" data-toggle="list" href="#speciesism"
          role="tab" aria-controls="settings">SPECIESISM EDUCATION</a>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="process" role="tabpanel" aria-labelledby="process-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">VW2026 PROCESS STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/VW2026+Process+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="veganic" role="tabpanel" aria-labelledby="veganic-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">VEGANIC PERMACULTURE STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Veganic+Permaculture+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="thriving" role="tabpanel" aria-labelledby="thriving-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">THRIVING SYSTEM STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Thriving+System+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="economy" role="tabpanel" aria-labelledby="economy-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">NEW ECONOMY STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/New+Economy+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="nature" role="tabpanel" aria-labelledby="nature-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">NATURE STEWARDSHIP STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Nature+Stewardship+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="unifying" role="tabpanel" aria-labelledby="unifying-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">UNIFYING VEGANS STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Unifying+Vegans+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="land" role="tabpanel" aria-labelledby="land-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">LAND REHABILITATION STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Land+Rehabilitation+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="religious" role="tabpanel" aria-labelledby="religious-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">RELIGIOUS TRADITIONS STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Religious+Traditions+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="gender" role="tabpanel" aria-labelledby="gender-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">GENDER ROLES STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Gender+Roles+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="compassionate" role="tabpanel" aria-labelledby="compassionate-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">COMPASSIONATE COMMERCE STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Compassionate+Economics+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="ending" role="tabpanel" aria-labelledby="ending-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">ENDING SUBSIDIES STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Ending+Subsidies+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="jobs" role="tabpanel" aria-labelledby="jobs-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">CHANGING JOBS STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Changing+Jobs+Study+Group.jpg')}}">
        </div>
        <div class="tab-pane fade" id="speciesism" role="tabpanel" aria-labelledby="speciesism-list">
          <h5 class="h5-responsive font-weight-bold text-center mb-3">SPECIESISM EDUCATION STUDY GROUP</h5>
          <img class="img-fluid" src="{{url_for('static',filename='img/Speciesism+Education+Study+Group.jpg')}}">
        </div>
      </div>
    </div>
  </div>
</div>


<section class="container-fluid unique-color-dark py-5">
  <div class="row">
    <div class="col-md-12 text-center mt-3 text-white">
      <h3 class="h3-responsive"><i class="fas fa-quote-left" aria-hidden="true"></i> Nothing is as powerful as an idea whose time has come <i class="fas fa-quote-right"
            aria-hidden="true"></i></h3>
      <h5 class="text-center font-italic mb-0">~ Victor Hugo</h5>
  </div>
</section>



<!-- Footer -->
<footer class="page-footer font-small primary-color">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4 offset-md-4 pt-5">
            <div class="row text-center">
              <div class="col-md-12"> 
                <a class="mr-5" href="https://www.facebook.com/groups/445002692519792">
                  <i class="fab fa-facebook-f fa-lg white-text fa-2x"> </i>
                </a>
                <a class="mr-5" href="https://twitter.com/PreventYear">
                  <i class="fab fa-twitter fa-lg white-text fa-2x"> </i>
                </a>
                <a href="http://instagram.com/veganworld2026">
                  <i class="fab fa-instagram fa-lg white-text fa-2x"> </i>
                </a>
              </div>
              </div>
        </div>

    </div>
    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 offset-md-3 py-5">
        <div class="text-center">


         <div class="row text-center">
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="about.html">About</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="support.html">Support</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="privacy.html">Privacy</a>
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright py-3 text-center text-white">Made with <i class="fa fa-2x fa-heart"></i> in India</div>
  <div class="footer-copyright text-center pb-3">Designed By
    <a href="https://rohitswami.com/"> Rohit Swami</a>
  </div>

  <!-- Copyright -->

</footer>
<!-- Footer -->



  <!-- SCRIPTS -->
  <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.4.0.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{url_for('static',filename='js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{url_for('static',filename='js/mdb.min.js')}}"></script>

  <script type="text/javascript" src="{{url_for('static',filename='js/addons/datatables.min.js')}}"></script>
</body>

</html>
