<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Vegan World 2026!  </title>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/mdb.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{url_for('static',filename='img/favicon.ico') }}" type="image/x-icon">
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

  <meta name="theme-color" content="#4285F4">

</head>

<body>

<header>
<nav class="navbar navbar-expand-lg  navbar-dark primary-color fixed-top scrolling-navbar">
  <a class="navbar-brand" href="index.html">
    <img src="img/logo.png" height="80" alt="vegan world 2026 logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="index.html">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="overview.html">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="ecological.html">Ecological</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="economic.html">Economic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="political.html">Political</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="social.html">Social</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="spiritual.html">Spiritual</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white text-uppercase font-weight-bold" href="study_group.html">Study Groups</a>
      </li>
      <li class="nav-item">
        <a href="/join_us/">
        <button class="btn-join-us btn btn-amber btn-sm waves-effect font-weight-bold" type="button">Join Us!</button>
      </a>
      </li>
    </ul>
  </div>
</nav>
</header>


<section class="container-fluid unique-color-dark py-5">
  <div class="row">
    <div class="col-md-12 text-center mt-3 text-white">
      <h3 class="h3-responsive"><i class="fas fa-quote-left" aria-hidden="true"></i> Nothing is as powerful as an idea whose time has come <i class="fas fa-quote-right"
            aria-hidden="true"></i></h3>
      <h5 class="text-center font-italic mb-0">~ Victor Hugo</h5>
  </div>
</section>



<!-- Footer -->
<footer class="page-footer font-small primary-color">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4 offset-md-4 pt-5">
            <div class="row text-center">
              <div class="col-md-12"> 
                <a class="mr-5" href="https://www.facebook.com/groups/445002692519792">
                  <i class="fab fa-facebook-f fa-lg white-text fa-2x"> </i>
                </a>
                <a class="mr-5" href="https://twitter.com/PreventYear">
                  <i class="fab fa-twitter fa-lg white-text fa-2x"> </i>
                </a>
                <a href="http://instagram.com/veganworld2026">
                  <i class="fab fa-instagram fa-lg white-text fa-2x"> </i>
                </a>
              </div>
              </div>
        </div>

    </div>
    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 offset-md-3 py-5">
        <div class="text-center">


         <div class="row text-center">
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="about.html">About</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="support.html">Support</a>
          </div>
          <div class="nav-link col-md-4">
            <a class="text-white text-uppercase font-weight-bold" href="privacy.html">Privacy</a>
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright py-3 text-center text-white">Made with <i class="fa fa-2x fa-heart"></i> in India</div>
  <div class="footer-copyright text-center pb-3">Designed By
    <a href="https://rohitswami.com/"> Rohit Swami</a>
  </div>

  <!-- Copyright -->

</footer>
<!-- Footer -->



  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>
